body{
font-family:Arial;
background:#f4f4f4;
display:flex;
justify-content:center;
margin-top:50px;
}

.container{
background:white;
padding:30px;
border-radius:10px;
width:600px;
text-align:center;
box-shadow:0 0 10px gray;
}

textarea{
width:100%;
padding:10px;
}

button{
padding:10px 20px;
background:#007BFF;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#0056b3;
}
